@media screen and (min-width: 800px) {
    
    body {
        width: 100%;
    }
    
    .alignright, .alignleft {
        padding: 0;
    }

    .center {
        width: 100%;
        margin-bottom: 0;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .data {
        position: absolute;
        margin: 150px;
        top: 0;
        left: 0;
        background-color: white;
        opacity: 70%;
    }

    .weather {
        position: absolute;
        margin-bottom: 15px;
        margin-right: 15px;
        bottom: 0;
        right: 0;
        opacity: 70%;
        background-color: white;
    }
}